<div> 
	<a ui-sref=login class="pull-right btn btn-primary btn-outline btn-rounded">Salir</a>
	<h2>Principal </h2> 
	<br><br>
	<p> En este sistema usted podrá:<br>

	<ul type = circle>

	    <li>Inscribirte o darte de baja a materias.
	    <li>Obtener el comprobante de inscripción.
	    <li>Actualizar tus datos personales.
	    <li>Preguntas Frecuentes.
	    <li>Información
	</ul>


	<b>ATENCIÓN:</b><br><br>

	<ul type = circle>

	    <li>La contraseña es única para todos los modos de ingreso.
	    <li>Para cambiar la contraseña una vez logueado, tenés que ingresar en Configuración.
	</ul>

	<br>Se recomienda utilizar la ultima version de los navegadores <b>Firefox</b> o <b>Chrome</b>. 

</p>

<!--	<div class=jumbotron> 
		<div class=container> 
			<h1>Welcome!</h1> I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!<br><br> 
			<p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>
		</div>  -->
	</div> 
</div>
