<div> 
	<h2>Inscripciones</h2>
	<div class="opciones">
		<span>Complete los datos de inscripcion</span> 
		<br><br><br>
		<form name="parametrosInscripcion" action="#" ng-submit="submitForm()">
			<div ng-controller="AnioCtrl">
			<span>Seleccione Año :</span> 
			<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect" style="position:fixed; left:450px">
      				<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    			</select>
			</div>			
			<br>
			<div ng-controller="CuatriCtrl">
			<span>Seleccione Cuatrimestre :</span> 
			<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect" style="position:fixed; left:450px">
      				<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    			</select>
			</div>
			<br>
			<div ng-controller="MateriaCtrl">
			<span>Seleccione Materia :</span> 
			<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect" style="position:fixed; left:450px">
      				<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    			</select>
			</div>
			<br><br>
		</form>
			<a ui-sref=test class="pull-right btn btn-primary btn-outline btn-rounded" style="position:fixed; left:250px">Inscribirse</a> 
	</div>
  <script src="../../scripts/scripts.js"></script>  
</div>
