<style>
	table, th , td  {
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 5px;
	}	
	table tr:nth-child(odd)	{
		background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
		background-color: #ffffff;
	}
</style>

<div> 
	<h2>Consultas</h2>
	<div class="opciones">
		<span>Seleccione los parámetros de búsqueda</span> 
		<br><br><br>
		<div>
			<select ng-model="searchYear" ng-options="year for year in model.years" style="position:fixed; left:280px">
	        <option value="">--Año--</option>
			</select>
		</div>
		<div>
    		<select ng-model="searchTerm" ng-options="item.term for item in model.terms | filter:searchYear | unique: 'term'" style="position:fixed; left:400px">
	        <option value="">--Cuatrimestre--</option>
			</select>
		<div>
		<div>
			<select ng-show="searchYear && searchTerm" ng-model="searchCourse" ng-options="course.name for course in model.courses | filter:searchYear | filter:searchTerm" style="position:fixed; left:570px">
        	<option value="">--Materia--</option>
			</select>
		</div>
		<button ng-click="handlers.findStudents()" class="pull-right btn btn-primary btn-outline btn-rounded" style="position:fixed; left:60%; top:26%">Buscar</button>


		<br><br><br><br>
		<table style="position:fixed; left:280px">
			<thead>
         			<tr>
           				<th>Padrón</th>
           				<th>Nombre</th>
           				<th>Apellido</th>
          				<th>Edad</th>
          				<th>Teléfono</th>
        			</tr>
      			</thead>
			<tr ng-repeat="x in names">
				<td>{{ x.record }}</td>
				<td>{{ x.firstName }}</td>
				<td>{{ x.lastName }}</td>
				<td>{{ x.age }}</td>
				<td>{{ x.phone }}</td>
			</tr>
		</table>
	</div>
</div>
